*{margin:0;padding:0;font-size:0;}
.section{position:relative; height: 1000px;}
.run img {width:100%;}
.run{
    position:absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    max-width:500px;
    width:100%;
    animation:updown .2s linear infinite alternate;
    animation-play-state: paused;

}



.hand{
    position: absolute;
    z-index: -1;
    width:35%;
    top:60%;
    left:85%;
    animation:hand .2s linear infinite alternate;
    animation-play-state: paused;
    transform-origin: 10% 100%;
}


@keyframes updown{
    from{margin-top: -8px;}
    to{margin-top:0;}
}

@keyframes hand{
    from {transform: rotate(40);}
    to {transform: rotate(-20deg);}
}

button{
    width:250px;
    height:80px;
    background-color: #004fff;
    border:none;
    color:white;
    box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
    font-size: 32px;
    font-weight: bold;
    border-radius: 40px;
    position: absolute;
    top:90%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;

}

button:focus{
    outline: 0;
}

button:hover{
    background-color: rgba(0, 79, 255, 0.9);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 79, 255, 0.6);
    
}

